[Desktop Entry]
Name=Visualizador De Pedidos
Version=v0.8.5
Icon=/media/trabajo/Trabajo/scripts/icons/pedidos.png
X-Icon-Path=deploy_player
Exec=python3 /media/trabajo/Trabajo/scripts/logistica.py
Terminal=false
Type=Application
Name[es_AR]=Logistica
