#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Visualizador De Pedidos
Version=v0.8.5
Icon=/media/trabajo/Trabajo/scripts/icons/pedidos.png
X-Icon-Path=deploy_player
Exec=python3 /media/trabajo/Trabajo/scripts/visualizador.py
Terminal=false
Type=Application
